.createForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

.formGroup{
  display: flex;
  flex-direction: column;
}

.input{
  padding: 10px;
  width: 300px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.submitButton{
  width: 320px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}


.submitButton:disabled{
  opacity: 0.7;
  cursor: unset;
}

.formError{
  color: red;
  font-size: 12px;
}


