.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid lightgray;
}

.users-list{
  padding: 30px 10px 50px 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.user-item{
  width: 250px;
  position: relative;
  border: 1px solid lightgray;
}

.user-image{
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.user-description{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-checkbox{
  position: absolute;
  right: 0;
}

.user-name{
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.inputGroup{
  display: flex;
  align-items: center;
  gap: 10px;
}

input{
  padding: 7px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.select{
  margin-left: 20px;
}



