<div class="filters" *ngIf="users">
  <div>
    <button mat-button color="primary" [disabled]="!users.length" (click)="selectAll()">Select all</button>
    <button mat-button color="primary" [disabled]="!selectedUsers.length" (click)="delete()">Delete</button>
    <button mat-button color="primary" routerLink="/create">Create User</button>
    <mat-form-field class="select" appearance="fill">
      <mat-label>Sorting order</mat-label>
      <mat-select (selectionChange)="orderByName($event)"  value="Sorting order">
        <mat-option value="firstname">
          First name
        </mat-option>
        <mat-option value="lastname">
          Last name
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="inputGroup">
    <input name="username" #username type="text" placeholder="Search users"/>
    <button mat-raised-button color="primary" (click)="find(username.value)">Search</button>
  </div>
</div>

<div class="users-list">
  <div class="user-item" *ngFor="let user of users">
    <mat-checkbox (change)="selectOne($event.checked, user)" [checked]="selectedUsers.includes(user)" class="user-checkbox"/>
    <img class="user-image" [src]="user.imageUrl" [alt]="user.name">
    <div class="user-description">
      <div class="user-name">
        <span>{{user.name}}</span>
      </div>
      <div class="user-email">{{user.email}}</div>
      <div class="user-phone">{{user.phone}}</div>
    </div>
  </div>
</div>
